{{<layout}}

     {{$journeyHeader}}
     {{#t}}journeys.terrorism_reporting.confirmation-header{{/t}}
     {{/journeyHeader}}

     {{$validationSummary}}
     {{> partials-validation-summary}}
  {{/validationSummary}}

  {{$propositionHeader}}
  {{> partials-navigation}}
  {{/propositionHeader}}

  {{$header}}{{#t}}journeys.terrorism_reporting.confirmation-header{{/t}}{{/header}}

  {{$content}}

  {{<partials-form}}
       
       {{$form}}
       <fieldset>
         
         <legend class="visuallyhidden">
           <span class="form-label-bold">{{#t}}fields.rtm-confirmation.legend{{/t}}</span>
         </legend>
         
         <div class="confirmation">
           {{#values.report}}
           
           <div class="data-report">
             
             <fieldset>
               
	             <legend class="heading-large">
                 {{#single-report}}
                 {{#t}}pages.rtm-confirmation.check-details.single-report{{/t}}
                 {{/single-report}}
                 {{#multiple-reports}}
                 {{#t}}pages.rtm-confirmation.check-details.multiple-reports{{/t}}{{report-number}}
                 {{/multiple-reports}}
               </legend>

               <div class="deleteable-field" data-options="{{options.delete}}">
                 
                 <div class="view">

                   <a class="trigger"  href="{{baseUrl}}/removeurl/{{options.id}}">
                     {{#single-report}}
                     {{#t}}pages.rtm-confirmation.remove-url.single-report{{/t}}
                     {{/single-report}}
                     {{#multiple-reports}}
                     {{#t}}pages.rtm-confirmation.remove-url.multiple-reports{{/t}}{{report-number}}
                     {{/multiple-reports}}
                   </a>

                 </div>
                 
                 <div class="controls">

                   <p>Please confirm you would like to delete this report</p>
                   
                   <input type="submit" value="{{#t}}buttons.delete{{/t}}" class="button confirm" />
                   <br />
		               <a href="#" class="btn cancel cancel-btn">
		                 {{#t}}buttons.cancel{{/t}}
		               </a>
                 </div>
                 
               </div>

               <hr>

               <div class="editable-field" data-name="url" data-element="input:text" data-label="{{#t}}fields.url.label{{/t}}" data-defaults="{{data-defaults}}" data-value="{{url}}" data-options="{{options.edit}}">

                 <div>

                   <h3>{{#t}}fields.url.short{{/t}}</h3>
                   
                   <div class="view">

                     <div class="data-wrap">
		                   <p class="data-preview trigger" contenteditable="true" data-placeholder="No url specified">
                         {{#url}}
                         {{url}}
                         {{/url}}
                       </p>
		                 </div>

                   </div>

                 </div>

                 <hr>
                 
                 <div>
                   
		               <h3>{{#t}}fields.location.short{{/t}}</h3>

                   <div class="view">
                     
		                 <div class="data-wrap">
                       
                       <div class="data-preview trigger" contenteditable="true" data-placeholder="No location specified">
                         {{#location}}
                         {{location}}
                         {{/location}}
                       </div>
		                 </div>
                     
                   </div>
                   
                 </div>

                 <hr>
                 
                 <div>
                   
		               <h3>{{#t}}fields.description.short{{/t}}</h3>
                   
                   <div class="view">

		                 <div class="data-wrap">
                       <div class="data-preview trigger" contenteditable="true" data-placeholder="No description specified">
                         {{#description}}
                         {{description}}
                         {{/description}}
                       </div>
		                 </div>

                   </div>

                 </div>

                 <div class="controls">

                   <input type="submit" value="{{#t}}buttons.update{{/t}}" class="button confirm" />
                   <br />
		               <a href="#" class="btn cancel cancel-btn">
		                 {{#t}}buttons.cancel{{/t}}
		               </a>

                 </div>

               </div>
             
             </fieldset>

           </div>
           
           {{/values.report}}

           <hr>
           

           <div>
             
	           <a href="{{baseUrl}}">{{#t}}pages.rtm-confirmation.add-another{{/t}}</a>
             
           </div>
           
         </div>
         
       </fieldset>
       
       <fieldset>
         
         <span id="contact-details-group">
	         {{#radio-group}}anonymous{{/radio-group}}
         </span>
         
         <fieldset id="contact-info-group" class="panel-indent {{#errors.contact-info}}validation-error{{/errors.contact-info}}">
           {{#input-text}}contact-info-name{{/input-text}}
           {{#input-text}}contact-info-email{{/input-text}}
           {{#input-text}}contact-info-phone{{/input-text}}
           <p>{{#t}}pages.rtm-confirmation.about-privacy{{/t}}</p>
           <p>{{#t}}pages.rtm-confirmation.about-privacy-blurb{{/t}}</p>
         </fieldset>
         
       </fieldset>
       
       {{#input-submit}}send{{/input-submit}}
       
       {{/form}}
       
       {{/partials-form}}
       
       {{/content}}
       
       {{/layout}}
       
