{{<layout}}

     {{$journeyHeader}}
     {{#t}}journeys.terrorism_reporting.confirmation-header{{/t}}
     {{/journeyHeader}}

     {{$validationSummary}}
     {{> partials-validation-summary}}
  {{/validationSummary}}

  {{$propositionHeader}}
  {{> partials-navigation}}
  {{/propositionHeader}}

  {{$header}}{{#t}}journeys.terrorism_reporting.confirmation-header{{/t}}{{/header}}

  {{$content}}

  {{<partials-form}}
       
       {{$form}}
       <fieldset>
         
         <legend class="visuallyhidden">
           <span class="form-label-bold">{{#t}}fields.rtm-confirmation.legend{{/t}}</span>
         </legend>
         
         <div class="confirmation">
           {{#values.report}}
           
           <div class="data-report">
             
             <fieldset>
               
	             <legend class="heading-large">
                 {{#single-report}}
                 {{#t}}pages.rtm-confirmation.check-details.single-report{{/t}}
                 {{/single-report}}
                 {{#multiple-reports}}
                 {{#t}}pages.rtm-confirmation.check-details.multiple-reports{{/t}}{{report-number}}
                 {{/multiple-reports}}
               </legend>

               <div class="deleteable-field" data-options="{{options.delete}}">
                 
                 <div class="view">

                   <a class="trigger"  href="{{baseUrl}}/removeurl/{{options.id}}">
                     {{#single-report}}
                     {{#t}}pages.rtm-confirmation.remove-url.single-report{{/t}}
                     {{/single-report}}
                     {{#multiple-reports}}
                     {{#t}}pages.rtm-confirmation.remove-url.multiple-reports{{/t}}{{report-number}}
                     {{/multiple-reports}}
                   </a>

                 </div>
                 
                 <div class="controls">

                   <p>Please confirm you would like to delete this report</p>
                   
                   <input type="submit" value="{{#t}}buttons.delete{{/t}}" class="button confirm" />
                   <br />
		               <a href="#" class="btn cancel cancel-btn">
		                 {{#t}}buttons.cancel{{/t}}
		               </a>
                 </div>
                 
               </div>

               <hr>
               
               <div class="editable-field" data-name="url" data-element="input:text" data-label="{{#t}}fields.url.label{{/t}}" data-defaults="{{data-defaults}}" data-value="{{url}}" data-options="{{options.edit}}">
                 <h3>{{#t}}fields.url.short{{/t}}</h3>
                 
                 <div class="view">

                   <div class="data-wrap">
		                 <p class="data-preview">
                       {{#url}}
                       {{url}}
                       {{/url}}
                       {{^url}}
                       &lt;none entered&gt;
                       {{/url}}
                     </p>
		               </div>

 		             <a href="{{baseUrl}}/editurl/{{options.id}}" class="btn trigger edit-btn">
                   {{#t}}buttons.change{{/t}}<span class="visuallyhidden"> {{#t}}fields.url.short{{/t}}</span>
		             </a>

                 </div>

                 <div class="controls">

                   {{#input-text}}url{{/input-text}}

                   <input type="submit" value="{{#t}}buttons.update{{/t}}" class="button confirm" />
                   <br />                   
		               <a href="#" class="btn cancel cancel-btn">
		                 {{#t}}buttons.cancel{{/t}}
		               </a>

                 </div>

               </div>

               <hr>
               
               <div class="editable-field" data-name="location" data-element="textarea" data-label="{{fields.location.label}}" data-defaults="{{data-defaults}}" data-value="{{location}}" data-options="{{options.edit}}">
		             <h3>{{#t}}fields.location.short{{/t}}</h3>

                 <div class="view">
                   
		             <div class="data-wrap">
                   
                   <div class="data-preview">
                     {{#location}}
                     {{location}}
                     {{/location}}
                     {{^location}}
                       &lt;none entered&gt;
                     {{/location}}
                   </div>
		             </div>
                 
		             <a href="{{baseUrl}}/editurl/{{options.id}}" class="btn trigger edit-btn">
		               {{#t}}buttons.change{{/t}}<span class="visuallyhidden"> {{#t}}fields.location.short{{/t}}</span>
		             </a>

                 </div>
                 
                 <div class="controls">
                   
                   {{#textarea}}location{{/textarea}}

                   <input type="submit" value="{{#t}}buttons.update{{/t}}" class="button confirm" />
                   <br />                   
		               <a href="#" class="btn cancel cancel-btn">
		                 {{#t}}buttons.cancel{{/t}}
		               </a>

                 </div>

               </div>

                <hr>
                             
               <div class="editable-field" data-name="description" data-element="textarea" data-label="{{fields.description.label}}" data-defaults="{{data-defaults}}" data-value="{{description}}" data-options="{{data-options.edit}}">
		             <h3>{{#t}}fields.description.short{{/t}}</h3>
                 
                 <div class="view">

		               <div class="data-wrap">
                     <div class="data-preview">
                       {{#description}}
                       {{description}}
                       {{/description}}
                       {{^description}}
                       &lt;none entered&gt;
                       {{/description}}
                     </div>
		             </div>
		             <a href="{{baseUrl}}/editurl/{{options.id}}" class="btn trigger edit-btn">
		               {{#t}}buttons.change{{/t}}<span class="visuallyhidden"> {{#t}}fields.description.short{{/t}}</span>
		             </a>

                 </div>

                 <div class="controls">

                   {{#textarea}}description{{/textarea}}

                   <input type="submit" value="{{#t}}buttons.update{{/t}}" class="button confirm" />
                   <br />
		               <a href="#" class="btn cancel cancel-btn">
		                 {{#t}}buttons.cancel{{/t}}
		               </a>

                 </div>
                 
               </div>

             </fieldset>
             
           </div>
           
           {{/values.report}}

           <hr>
               

           <div>
             
	           <a href="{{baseUrl}}">{{#t}}pages.rtm-confirmation.add-another{{/t}}</a>
             
           </div>
           
         </div>
         
       </fieldset>
       
       <fieldset>
         
         <span id="contact-details-group">
	         {{#radio-group}}anonymous{{/radio-group}}
         </span>
         
         <fieldset id="contact-info-group" class="panel-indent {{#errors.contact-info}}validation-error{{/errors.contact-info}}">
           {{#input-text}}contact-info-name{{/input-text}}
           {{#input-text}}contact-info-email{{/input-text}}
           {{#input-text}}contact-info-phone{{/input-text}}
           <p>{{#t}}pages.rtm-confirmation.about-privacy{{/t}}</p>
           <p>{{#t}}pages.rtm-confirmation.about-privacy-blurb{{/t}}</p>
         </fieldset>
         
       </fieldset>
       
       {{#input-submit}}send{{/input-submit}}
       
       {{/form}}
       
       {{/partials-form}}
       
       {{/content}}
       
       {{/layout}}
       
